<section class="filmoteka">
  <div class="container">
    <div class="gallery filmoteka__container"></div>
  </div>
  <div class="modal-film-info"></div>
</section>

<!-- <ul class="filmoteka__list list">
      <li class="filmoteka__item">
        <a class="filmoteka__link link" href="#">
          <img class="filmoteka__img" src="./images/Rectangle5.png" alt="" />
          <h1 class="filmoteka__title">GREYHOUND</h1>
          <div class="filmoteka__box">
            <ul class="filmoteka__items list">
              <li class="filmoteka__items-item">Drama</li>
            </ul>
            &nbsp;|&nbsp;
            <p class="filmoteka__text">2020</p>
          </div>
        </a>
      </li>
    </ul> -->
<!-- <section class="filmoteka">
  <div class="container filmoteka__container">
    <ul class="filmoteka__list list">
      <li class="filmoteka__item">
        <a class="filmoteka__link link" href="#">
          <img class="filmoteka__img" src="./images/Rectangle5.png" alt="" />
          <h1 class="filmoteka__title">GREYHOUND</h1>
          <div class="filmoteka__box">
            <ul class="filmoteka__items list">
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
            </ul>
            &nbsp;|&nbsp;
            <p class="filmoteka__text">2020</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="filmoteka__list list">
      <li class="filmoteka__item">
        <a class="filmoteka__link link" href="#">
          <img class="filmoteka__img" src="./images/Rectangle5.png" alt="" />
          <h1 class="filmoteka__title">GREYHOUND</h1>
          <div class="filmoteka__box">
            <ul class="filmoteka__items list">
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
            </ul>
            &nbsp;|&nbsp;
            <p class="filmoteka__text">2020</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="filmoteka__list list">
      <li class="filmoteka__item">
        <a class="filmoteka__link link" href="#">
          <img class="filmoteka__img" src="./images/Rectangle5.png" alt="" />
          <h1 class="filmoteka__title">GREYHOUND</h1>
          <div class="filmoteka__box">
            <ul class="filmoteka__items list">
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
            </ul>
            &nbsp;|&nbsp;
            <p class="filmoteka__text">2020</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="filmoteka__list list">
      <li class="filmoteka__item">
        <a class="filmoteka__link link" href="#">
          <img class="filmoteka__img" src="./images/Rectangle5.png" alt="" />
          <h1 class="filmoteka__title">GREYHOUND</h1>
          <div class="filmoteka__box">
            <ul class="filmoteka__items list">
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
            </ul>
            &nbsp;|&nbsp;
            <p class="filmoteka__text">2020</p>
          </div>
        </a>
      </li>
    </ul>
    <ul class="filmoteka__list list">
      <li class="filmoteka__item">
        <a class="filmoteka__link link" href="#">
          <img class="filmoteka__img" src="./images/Rectangle5.png" alt="" />
          <h1 class="filmoteka__title">GREYHOUND</h1>
          <div class="filmoteka__box">
            <ul class="filmoteka__items list">
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
              <li class="filmoteka__items-item">Drama</li>
            </ul>
            &nbsp;|&nbsp;
            <p class="filmoteka__text">2020</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section> -->
